<button mat-raised-button>CLICK ME</button> <!--Raised Buttons-->


<div class="mat-display-1">DISPLAY 1</div>
<div class="mat-display-2">DISPLAY 2</div> <!--Displays-->


<div class="mat-headline">heading for h1</div> <!--Header for h1-->
<div class="mat-title">heading for h2 </div> <!--Header for h2-->

<div class="mat-body-1">body text</div>  <!--Body-->
<div class="mat-body-2">body bold text 2</div>

<div class="mat-caption">this is a caption texttt</div> <!--Caption-->  


<!--Typography-->

<div class="mat-typography"> <!--EASIER-->

      <h1>Heading 1</h1>
      <h2>Heading 2</h2>
      <h3>Heading 3</h3>

</div>


<!--BUTTONS ATTRIBUTES-->
<div>
<button mat-button> BBUTTON EXAMPLE</button>
<button mat-raised-button> RAISED BUTTON EXAMPLE</button>
<button mat-flat-button> FLAT BUTTON EXAMPLE</button>
<button mat-stroked-button>STROKED BUTTON EXAMPLE</button>
</div>

<!--ICON BUTTON-->
<div>
<button mat-icon-button>ICON BUTTON</button>
<button mat-fab>FAB Icon</button>
<button mat-mini-fab>Mini Fab </button>

</div>

<!--Button Colors-->

<div>
  <button color='primary' mat-raised-button>Primary COLOR BUTTON</button>
  <button color='accent' disableRipple mat-raised-button>Accent COLOR BUTTON</button>
  <button color='warn' mat-raised-button>WARN COLOR BUTTON</button>

</div>

