<nav class='container mb-4 mt-4'>

    <div class="row">
       
        <h1>{{ 'HOME.TITLE' | translate }}</h1>
        <label>
            {{ 'HOME.SELECT' | translate }} 
       <div class="col-10"></div>
       <div class="col-3"></div>
        <select #langSelect (change)='translate.use(langSelect.value)'>

            <option *ngFor="let lang of translate.getLangs()" 
            [value] = 'lang' [selected]="lang === translate.currentLang">{{ lang }}>
            </option>
        </select>  
        </label>
        
    </div>
</nav>